.logoSplash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;
}

.textSplash {
  font-size: 7vw;
}

.textSplashChico {
  font-size: 5vw;
}

.fuenteSplash {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.logoSplashIMG {
  border-radius: 20%;
}

/* lineup class and keyframes */
.lineUp1 {
  animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.lineUp2 {
  animation: 3s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
