.logoSplash {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
}

.textSplash {
    font-size: 8vw;
}

.textSplashChico {
    font-size: 6vw;
}

.fuenteSplash {
    font-family: fantasy
}